@using Restaurant.Business.Models
@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@for (int i = 0; i < 5; i++)
{
    <h6>Test @i</h6>
}

@foreach (ProductModel p in Model)
{
    <partial name="_ProductSummary" model="p" />
}
